{% extends 'base.html.j2' %}
{% from '_macros.html.j2' import page_header %}

{% block title %}Add a place{% endblock %}
{% block header %}{{ page_header('Add a place') }}{% endblock %}

{% block content %}
<div class="card" style="max-width: 36rem;">
  <div class="card-body">
    {% include 'places/_form.html.j2' %}
  </div>
  <div class="card-footer">
    <a href="{{ url_for('places.index') }}" class="btn btn-outline-light btn-sm">Cancel</a>
  </div>
</div>
{% endblock %}
