{% extends 'base.html.j2' %}

{% block header %}
<h1>{% block title %}Locations{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if g.user %}
<table class="table table-borderless table-dark">
  <thead>
    <tr class="table-primary">
    <th>Name</th>
    <th>Item Count</th>
    {% if g.user %}
    <th>Actions</th>
    {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for location in locations %}
    <tr>
      <td>{{ location['description'] }}</td>
      <td>{{ location['item_count'] }}</td>
      {% if g.user %}
      <td>
        <a class="action" href="{{ url_for('locations.update', id=location['id']) }}">Edit</a>&nbsp;&nbsp;&nbsp;
        <a class="action" href="{{ url_for('locations.delete', id=location['id']) }}"
          onclick="return confirm('Are you sure?');">Delete</a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if g.user %}
<p><a href="{{ url_for('locations.create') }}">Add a new location</a></p>
{% endif %}

{% else %}
<p>Please <A HREF="{{ url_for('auth.login') }}">log in</A> first.</p>
{% endif %}
{% endblock %}