{% extends 'base.html.j2' %}

{% block header %}
  <h1>{% block title %}Edit "{{ location['description'] }}"{% endblock %}</h1>
{% endblock %}

{# TODO: need to bootstrap-ify this #}

{% block content %}
  <form method="post">
    <label for="description">Description</label>
    <input name="description" id="description"
      value="{{ request.form['description'] or location['description'] }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('locations.delete', id=location['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
