{% extends 'base.html.j2' %}

{% block header %}
<h1>{% block title %}Search{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if locations|length < 1 %} You have not defined any locations yet. <A HREF="{{ url_for('locations.create') }}">Please
  do so first.</A>
  {% else %}
  <form action="{{ url_for('search.run_search') }}" method="post">

    <table class="table table-dark">
      <tbody>
        <tr>
          <td><input type="checkbox" name="search_model_no" value="search_model_no"></td>
          <td><label for="model_no">Make/Model:</label></td>
          <td><input name="model_no" id="model_no"></td>
        </tr>

        <tr>
          <td><input type="checkbox" name="search_serial_no" value="search_serial_no"></td>
          <td><label for="serial_no">Serial #:</label></td>
          <td><input name="serial_no" id="serial_no"></td>
        </tr>

        <tr>
          <td><input type="checkbox" name="search_description" value="search_description"></td>
          <td><label for="description">Description:</label></td>
          <td><input name="description" id="description"></td>
        </tr>

        <tr>
          <td><input type="checkbox" name="search_locations" value="search_locations"></td>
          <td><label for="location">Location(s):</label></td>
          <td>
            <select name="locations" multiple>
              {% for l in locations %}
              <option value="{{ l.id }}">{{ l.description }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>

        <tr>
          <td><input type="checkbox" name="search_sublocation" value="search_sublocation"></td>
          <td><label for="sublocation">Sublocation:</label></td>
          <td><input name="sublocation" id="sublocation"></td>
        </tr>
      </tbody>
    </table>
    <input class="submit" type="submit" value="Search">
  </form>
  {% endif %}
  {% endblock %}
