{% extends 'base.html.j2' %}

{% block header %}
  <h1>{% block title %}Change Password{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
  <table class="table table-borderless table-dark">
    <tr>
      <td><label for="current_password">Current password:</label></td>
      <td><input type="password" name="current_password" id="current_password" required></td>
    </tr>
    <tr>
      <td><label for="password">New password:</label></td>
      <td><input type="password" name="password" id="password" required></td>
    </tr>
    <tr>
      <td><label for="confirm_password">Confirm password:</label></td>
      <td><input type="password" name="confirm_password" id="confirm_password" required></td>
    </tr>
  </table>
  <input type="submit" value="Change password">
</form>
{% endblock %}
