{% extends 'base.html.j2' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
  <table class="table table-dark">
    <tr>
    <td><label for="username">Username:</label></td>
    <td><input name="username" id="username" required></td>
    </tr>
    <tr>
    <td><label for="password">Password:</label></td>
    <td><input type="password" name="password" id="password" required></td>
    </tr>
  </table>
    <input type="submit" value="Log In">
  </form>
{% endblock %}
