{% if can_create_place(g.user) %}
<div class="modal fade" id="placeCreateModal" tabindex="-1" aria-labelledby="placeCreateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="placeCreateModalLabel">Add a place</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="place-create-modal-body">
        <p class="text-muted mb-0">Loading…</p>
      </div>
    </div>
  </div>
</div>
{% endif %}
