{% extends 'base.html.j2' %}

{% block header %}
<h1>{% block title %}Add New Item{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if locations|length < 1 %} You have not defined any locations yet. <A HREF="{{ url_for('locations.create') }}">Please
  do so first.</A>
  {% else %}
  <form method="post" enctype="multipart/form-data">
    <table class="table table-borderless table-dark">
      <tr>
        <td><label for="name">Make/Model:</label></td>
        <td><input name="name" autofocus="autofocus" id="name" value="{{ request.form['name'] }}" required></td>
      </tr>
      <tr>
        <td><label for="serial_no">Serial #:</label></td>
        <td><input name="serial_no" autocomplete="off" id="serial_no" value="{{ request.form['serial_no'] }}"></td>
      </tr>
      <tr>
        <td>
          <label for="qty">Quantity:</label>
        </td>
        <td>
          <input name="qty" type="number" id="qty" value="{{ request.form['qty'] }}" required>
        </td>
      </tr>
      <tr>
        <td>
          <label for="cost">Cost:</label>
        </td>
          <td><input name="cost" class="currency" type="number" id="cost" min="0.01" step="0.01" value="{{ request.form['cost'] }}" required></td>
      </tr>
      <tr>
        <td>
          <label for="room">Room:</label>
        </td>
        <td>
          <select name="room">
            {% for r in rooms %}
            <option value="{{ r.id }}">{{ r.description }}</option>
            {% endfor %}
          </select>
          <br />
          <a class="action" href="{{ url_for('rooms.create') }}">Add New Room</a>
        </td>
      </tr>
      <tr>
        <td>
          <label for="location">Location:</label>
        </td>
        <td>
          <select name="location">
            {% for l in locations %}
            <option value="{{ l.id }}">{{ l.description }}</option>
            {% endfor %}
          </select>
          <br />
          <a class="action" href="{{ url_for('locations.create') }}">Add New Location</a>
        </td>
      </tr>
      <tr>
        <td>
          <label for="sublocation">Sublocation:</label>
        </td>
        <td>
          <input name="sublocation" id="sublocation" value="{{ request.form['sublocation'] }}">
        </td>
      </tr>
      <tr>
        <td>
          <label for="photo">Photo:</label>
        </td>
        <td>
          <input type="file" name="photo" />
        </td>
      </tr>
    </table>
    <p><label for="description">Description:</label><br />
      <textarea name="description" id="description">{{ request.form['description'] }}</textarea>
    </p>

    <input type="submit" value="Save">
  </form>
  <a href="{{ url_for('items.index') }}">Cancel</a>

  {% endif %}
  {% endblock %}