{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add New Item{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if locations|length < 1 %}
You have not defined any locations yet.
<A HREF="{{ url_for('locations.create') }}">Please do so first.</A>
{% else %}
  <form method="post" enctype="multipart/form-data">
    <label for="model_no">Make/Model</label>
    <input name="model_no" id="model_no" value="{{ request.form['model_no'] }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description" required>{{ request.form['description'] }}</textarea>
    <label for="qty">Quantity</label>
    <input name="qty" id="qty" value="{{ request.form['qty'] }}" required>
    <label for="cost">Cost</label>
    <input name="cost" id="cost" value="{{ request.form['cost'] }}" required>
    <label for="location">Location</label>
    <a class="action" href="{{ url_for('locations.create') }}">Add New Location</a>
    <select name="location">
    {% for l in locations %}
      <option value="{{ l.id }}">{{ l.description }}</option>
    {% endfor %}
    </select>
    <label for="sublocation">Sublocation</label>
    <input name="sublocation" id="sublocation" value="{{ request.form['sublocation'] }}">

    <label for="photo">Photo</label>
    <input type = "file" name = "photo" />

    <input type="submit" value="Save">
  </form>
{% endif %}
{% endblock %}
