{% extends 'base.html.j2' %}

{% block header %}
<h1>{% block title %}{{ item['name'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4">
  <table class="table table-borderless table-dark">
  <tbody>
    {% if item['serial_no'] %}
    <tr>
    <td>Serial #:</td>
    <td>{{ item['serial_no'] }}</td>
    </tr>
    {% endif %}
    <tr>
    <td>Quantity:</td>
    <td>{{ item['qty'] }}</td>
    </tr>
    {% if item['cost'] is string and item['cost'] %}
    <tr>
    <td>Cost:</td>
    <td>{{ item['cost']|format_currency }}</td>
    </tr>
    {% elif item['cost'] is float and item['cost'] > 0.0 %}
    <tr>
    <td>Cost:</td>
    <td>{{ item['cost']|format_currency }}</td>
    </tr>
    {% endif %}
    <tr>
    <td>Location:</td>
    <td>{{ item['location_path'] }}</td>
    </tr>
    {% if item['tag_list'] %}
    <tr>
    <td>Tags:</td>
    <td>{{ item['tag_list'] }}</td>
    </tr>
    {% endif %}
    <tr>
    <td>Acquired:</td>
    <td>{{ item['date_added'].strftime('%Y-%m-%d %H:%M') }}</td>
    </tr>
    </tbody>
    </table>
    <p class="body">{{ item['description'] }}</p>
    {% if can_edit_item(g.user, item) or can_delete_item(g.user, item) %}
    <p>
    {% if can_edit_item(g.user, item) %}
    <a href="{{ url_for('items.update', id=item['id']) }}">Edit this entry</a><br />
    {% endif %}
    {% if can_delete_item(g.user, item) %}
    <form method="post" action="{{ url_for('items.delete', id=item['id']) }}" class="d-inline" onsubmit="return confirm('Are you sure?');">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <button type="submit" class="btn btn-link p-0 align-baseline">Delete this entry</button>
    </form>
    {% endif %}
    </p>
    {% endif %}
    </div>
  <div class="col-md-8">
    <img src="{% if item['photo'] %}{{ url_for('static', filename='photos/'+item['photo']) }}{% else %}{{ url_for('static', filename='no_image.png') }}{% endif %}" class="img-fluid">
  </div>

</div>
{% endblock %}
