{% extends 'base.html.j2' %}

{% block header %}
<h1>{% block title %}Items{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>There {% if num_items > 1 %} are {% else %} is {% endif %} {{ num_items }} item{% if num_items > 1 %}s{% endif %} in the database. Here are the most recent entries:</p>
<table class="table table-borderless table-dark">
  <thead>
    <tr class="table-primary">
      <th>Item</th>
      {# <th>Qty</th> #}
      <th>Location</th>
      {% if 0 or g.user %}
      <th>Actions</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>
      <img src="{% if item['photo']|length > 0 %}{{ url_for('static', filename='photos/'+item['photo']) }}{% else %}{{ url_for('static', filename='no_image.png') }}{% endif %}" class="img-thumbnail img-fluid" style="max-height: 50px; max-width: 50px;">&nbsp;&nbsp;&nbsp;
      <A HREF="{{ url_for('items.details', id=item['id']) }}">{{ item.name }}</A></td>
      {# <td>{{ item.qty }}</td> #}
      <td>{{ item.room }} / {{ item.location }}{% if item.sublocation|length %} / {{ item.sublocation }}{% endif %}</td>
      {% if 0 or g.user %} {# ['id'] == post['author_id'] #}
      <td><a href="{{ url_for('items.update', id=item['id']) }}">Edit</a>&nbsp;&nbsp;
        <a href="{{ url_for('items.delete', id=item['id']) }}" onclick="return confirm('Are you sure?');">Delete</a>
      </td>
      {% endif %}
    </tr>
  </tbody>
  {% endfor %}
</table>

{% if g.user %}
<p><a href="{{ url_for('items.create') }}">Add a new item</a></p>
{% endif %}
{% endblock %}