{% extends 'base.html.j2' %}

{% block header %}
<h1>{% block title %}Items{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if g.user %}
{% if items|length == 0 or rooms|length == 0 or locations|length == 0 %}
<ul>
{% if rooms|length == 0 %}<li>You have not yet set up any rooms. <a href="{{ url_for('rooms.create') }}">Add a new room</a> first.</li>{% endif %}
{% if locations|length == 0 %}<li>You have not yet set up any locations. <a href="{{ url_for('locations.create') }}">Add a new location</a> first.</li>{% endif %}
{% if items|length == 0 %}<li>There are no items in the database. <a href="{{ url_for('items.create') }}">Add a new item</a></li>{% endif %}
</ul>
{% else %}
{% if g.user %}
<p><a href="{{ url_for('items.create') }}">Add a new item</a></p>
{% endif %}

<p>There {% if items|length > 1 %} are {% else %} is {% endif %} {{ items|length }} item{% if items|length > 1 %}s{% endif %} in the database. Here are the most recent entries:</p>
<table class="table table-borderless table-dark">
  <thead>
    <tr class="table-primary">
      <th>Item</th>
      {# <th>Qty</th> #}
      <th>Location</th>
      {% if 0 and g.user %}
      <th>Actions</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>
      <img src="{% if item['photo']|length > 0 %}{{ url_for('static', filename='photos/'+item['photo']) }}{% else %}{{ url_for('static', filename='no_image.png') }}{% endif %}" class="img-thumbnail img-fluid" style="max-height: 50px; max-width: 50px;">&nbsp;&nbsp;&nbsp;
      <A HREF="{{ url_for('items.details', id=item['id']) }}">{{ item.name }}</A></td>
      {# <td>{{ item.qty }}</td> #}
      <td>{{ item.room }} / {{ item.location }}{% if item.sublocation|length %} / {{ item.sublocation }}{% endif %}</td>
      {% if 0 and g.user %} {# ['id'] == post['author_id'] #}
      <td><a href="{{ url_for('items.update', id=item['id']) }}">Edit</a>&nbsp;&nbsp;
        <a href="{{ url_for('items.delete', id=item['id']) }}" onclick="return confirm('Are you sure?');">Delete</a>
      </td>
      {% endif %}
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endif %}
{% else %}
<p>Please <A HREF="{{ url_for('auth.login') }}">log in</A> first.</p>
{% endif %}
{% endblock %}